<div class="cart-container container mt-4">
  <h2 class="text-center mb-4">Carrito de compras</h2>
  
  {{#if products.length}}
    <ul class="list-group mb-3">
      {{#each products}}
        <li class="list-group-item">
          <h2>{{juego.title}}</h2>
          <p>{{juego.description}}</p>
          <p>Precio: {{juego.price}} USD</p>
          <p>Categoría: {{juego.category}}</p>
          <img src="{{juego.thumbnails}}" alt="{{juego.title}}" class="img-fluid">
          
          <!-- Campo para mostrar la cantidad -->
          <p>Cantidad: <span>{{juego.quantity}}</span></p>
          
          <!-- Formulario para eliminar un producto específico del carrito -->
          <form action="/cart/remove/{{juego.id}}" method="POST" enctype="application/x-www-form-urlencoded" class="mt-2">
            <button class="btn btn-danger" type="submit">Eliminar producto del carrito</button>
          </form>
        </li>
      {{/each}}
    </ul>
    
    <!-- Formulario para eliminar todos los productos del carrito -->
    <form action="/cart/671306187129263c6caab6c7" method="POST" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger btn-block" type="submit">Eliminar Carrito</button>
    </form>

  {{else}}
    <p class="alert alert-warning text-center">No hay productos en el carrito</p>
  {{/if}}
</div>
